body {
    background-color: black;
    margin: 0;
    min-height: 100vh;
    font-family: 'JetBrains Mono', monospace;
}

/* START SCREEN */


.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.startButton {
    height: 150px;
    width: 400px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 50px;
}

.startButton:hover {
    background-color: green;
    transition: 0.15s;
}


 /* START END */


.main-game {
    display: none;
    flex-direction: column;
    margin: 0;

}

/* HEADER START */

.logo-header {
    background-color: #b3bcbd;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logopic {
    height: 93px;
}


/* HEADER END */
/* SCOREBOARD START */

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    height: 400px;

}

.messagelog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerside, .scoreseparator, .compside {
    background-color: black;
    flex: 1;
    height: 400px;
    color: white;
    
}

.scoreseparator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.separator {
    font-size: 140px;
}

.messagelog {
    margin-top: 20px;
}

.p1, .p2 {
    font-size: 20px;
}


.playerside, .compside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerimg, .playerscore, .compimg, .compscore {
    flex: 1;
}

.playerimg, .compimg {
    height: 110px;
    margin-top: 7px;
}

.playerscore, .compscore {
    display: flex;
    align-items: center;
    font-size: 140px;
}

.playerimg, .playerscore {
    margin-left: 50px;
}

.compimg, .compscore {
    margin-right: 50px;
}

.messagelog {
    font-size: 20px;
}

/* SCOREBOARD END */
/* ROUNDTEXT START */

.rounddecide-container {
    height: 250px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: whitesmoke;
    gap: 50px;
}


.playerselectionimg, .compselectionimg {
    height: 180px;
}

.playerselectionimg {
    margin-left: 50px;
}

.compselectionimg {
    margin-right: 50px;
}

.roundtext {
    color: whitesmoke;
    font-size: 24px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}







/* ROUNDTEXT END */
/* BUTTONSCREEN START */

.buttonScreen {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 40px;
    
}

.button {
    background-color: grey;
    color: whitesmoke;
    border-radius: 12px;
    padding: 30px;
    width: 200px;
    font-size: large;
    border: none;
    box-shadow: 7px 7px #2f3030;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
}

.button:hover {
    background-color: whitesmoke;
    color: black;
    transition: 0.4s;
}


.button:active {
    background-color: green;
    color: black;
    transition: 0.1s ease-in-out;
    
}

/* BUTTONSCREEN END */
/* GAMEEND SCREEN START */

.game-end-screen {
    display: none;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.winnerFinalize {
    color: whitesmoke;
    margin-bottom: 150px;
    font-size: 70px;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.homeButton {
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    height: 150px;
    width: 300px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 50px;
}

.homeButton:hover {
    background-color: green;
    transition: 0.2s ease-in-out;
}

.restartButton {
    background-color: orange;
    height: 150px;
    width: 400px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 50px;
}

.restartButton:hover {
    background-color: green;
    transition: 0.2s ease-in-out;
}

/* GAMEEND SCREEN END */